/* CSS declarations go here */

.user_avatar {
    min-height: 100px;
    text-align: center;

}

.avatar_img {
    height: 75px;
}

.chat-title {
    text-align: center;
}

.chat_img {
    height: 30px;
    border-radius: 50%;
}

.emoji {
    height: 20px;
}
