/* CSS declarations go here */

.user_avatar {
    min-height: 100px;
    text-align: center;

}

.avatar_img {
    height: 75px;
}

.chat-title {
    text-align: center;
}

.my-user-chat {
    text-align: left;
    background-color: #ADD8E6;
    border-radius: 20px;
}

.other-user-chat {
    text-align: right;
    background-color: #90EE90;
    border-radius: 20px;
}

.chat-img {
    height: 30px;
    border-radius: 50%;
}

.emoji {
    height: 20px;
}
